*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-color: red;
  
}
#container{
    margin: 0 auto;
    text-align: center;
}
h1{
    color: white;
    padding: 5px;
}
#game-table{
    margin: 10px auto;
    width: 80%;
    aspect-ratio: 1/1;
    background-color: blue;
    color: white;
}
.square{
    width:calc(100%/10);
    height:calc(100%/10);
    border: 1px solid white;
    align-content: center;
    font-size: large;
}

.click{
    background-color: chartreuse;
    color: black;
    border: 1px solid black;
}
.flex{
   display: flex;
    flex-wrap: wrap; 
}
.hide{
    display: none;
}

